## Ignore node_modules
server/node_modules
## Ignore node_modules client
client/node_modules
## Ignore node_modules material
material-kit-react/node_modules
# Ignore .env file
.env
# Ignore rest.http file
server/rest.http
# Ignore config file
server/config/config.js
#Ignore


